Source: ros-rolling-ld08-driver
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-rclcpp, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Homepage: http://wiki.ros.org/ld08_driver
Standards-Version: 3.9.2

Package: ros-rolling-ld08-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rclcpp, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: ROS package for LDS-02(LD08) Lidar.
 The Lidar sensor sends data to the Host controller for the Simultaneous Localization And Mapping(SLAM).
